{% extends "annonce/dashboard/dashboard.html" %}

{% block content %}
    <div class="col-md-5">
      {% load crispy_forms_tags %}
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Vos coordonnées</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nom</label>
                        <input class="form-control" id="nom" name="nom">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Prénom</label>
                        <input class="form-control" id="prenom" name="prenom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" id="email" name="email" type="email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Téléphone</label>
                        <input class="form-control" id="telephone" name="telephone">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Adresse</label>
                        <input class="form-control" id="adresse" name="adresse">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Ville</label>
                        <input class="form-control" id="ville" name="ville">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Code postal</label>
                        <input class="form-control" id="code_postal" name="code_postal">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label">Pays</label>
                      <input class="form-control" id="country" disabled="true" name="pays">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% load static %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1lHVWM1UP-2-F2RPwgBCcRKjYjXAqm5A&libraries=places&callback=initAutocomplete" async defer></script>
            <script src="{% static 'js/autocomplete.js' %}"></script>
            <input type="submit" value="Modifier">
        </form>
    </div>
{% endblock %}

{% block title %}
  <h2>Vos coordonnées</h2>
{% endblock %}