# .replit
modules = ["python-3.12"]
run = "pip install -r requirements.txt && python manage.py migrate && python manage.py runserver 0.0.0.0:5000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python manage.py migrate && python manage.py runserver 0.0.0.0:5000"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 43407251
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80
